.container-fluid
  .row
    .span8
      .hero-unit
        %h1 Welcome to the Timestamp Program
        %h3 Please Sign in
        = button_to "Sign in", signin_path, method: 'get', class: "btn btn-large btn-primary"
