Add new Employee
.row-fluid
  = simple_form_for @employee, class: "form-horizontal" do |f| 
    .employee-create
      .offset2
      .span8
        .control-group
          .controls
            = f.input :name

        .control-group
          .controls
            =f.submit "Add new Employee", id: "add_employee", class: "btn btn-primary"

            


